 Primeira Machine Learning

In [2]:
# conjunto de dados de análise de vinho
import pandas as pd
vinhods=pd.read_csv('C:/Users/Irenel/anaconda3/projeto/analisedados/vinhoanalise/wine_dataset.csv')

In [3]:
vinhods.head(6)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,red

In [3]:
vinhods.shape

(6497, 13)

In [5]:
# filtrar a coluna style para alterar a string para numero a ser estudado pelo nosso algoritmo machine learning

vinhods['style']=vinhods['style'].replace('red',0)
vinhods['style']=vinhods['style'].replace('white',1)
vinhods.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [6]:
# separando as variavéis entre preditoras e variavéis alvo
y= vinhods['style']
x= vinhods.drop('style', axis=1)

In [9]:
# preparando os dados de testes e os dados de treino

from sklearn.model_selection import train_test_split
# criando o conjunto de dados de teste e de treino:
x_treino, x_teste, y_treino, y_teste= train_test_split(x,y,test_size=0.3)

In [10]:
from sklearn.ensemble import ExtraTreesClassifier
#criação do modelo:
modelo=ExtraTreesClassifier(n_estimators=100)
modelo.fit(x_treino,y_treino)

# imprimindo resultados:
resultado= modelo.score(x_teste, y_teste)
print('Acurácia', resultado)

Acurácia 0.9948717948717949

In [20]:
y_teste[200:203]

528     0
2970    1
2205    1
Name: style, dtype: int64

In [21]:
x_teste[200:203]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
528,8.2,0.42,0.49,2.6,0.084,32.0,55.0,0.9988,3.34,0.75,8.7,6
2970,8.3,0.26,0.41,9.2,0.042,41.0,162.0,0.9944,3.10,0.38,12.0,7
2205,7.3,0.25,0.29,7.5,0.049,38.0,158.0,0.9965,3.43,0.38,9.6,5

In [22]:
previsao=modelo.predict(x_teste[200:203])

In [23]:
previsao

array([0, 1, 1], dtype=int64)